* {
  box-sizing: border-box;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 16px;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #585563;
}
  
h1, h2 {
  color: #CEB992;
  letter-spacing: 0.15px;
  margin-top: 50px;
}

p {
  margin-top: 50px;
  color: #CEB992;
}

p.biography {

  font-size: 20px;
  margin-top: 250px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  
}


header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #CEB992;
  padding: 10px 20px;
  color: white;
}

.nav-buttons {
  list-style: none;
  display: flex;
  gap: 20px; 
  margin: 0;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #555;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #777; 
}

.github-logo {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.github-logo:hover {
  opacity: 0.5;
}

.portfolio {
  background-color: #CEB992;

}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Set min-width for smaller columns */
  gap: 15px; /* Reduce spacing between items */
  padding: 10px;
  width: 100%;
  max-width: 1000px; /* Set a maximum width for the grid container */
}

/* Project Card */
.project {
  border: 2px solid #ddd;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 100%; /* Ensures each project takes full width within its grid cell */
}


.project-info {
  font-size: 0.8em;
  padding: 15px;
}

.project img {
  width: 50%;
  height: auto;
  display: block;
}


/* Hover Effect */
.project:hover {
  transform: scale(1.05);
}


.typewriter h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
    margin-top: 100px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.fade-in-image.bossbaby {
  margin-top: 100px; /* Adds space between the image and the text */
  height: auto;
  width: 500px;
  gap: 25px;
}

.fade-in-image.sans {
  margin-top: 100px; /* Adds space between the image and the text */
  margin-bottom: 100px;
  margin-right: 100px;
  height: auto;
  width: 500px;
  gap: 25px;
}

.biography-container {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  gap: 20px; /* Adds space between the image and bio text */
}



.fade-in-image {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}