* {
  box-sizing: border-box;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 16px;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #585563;
}
  
h1, h2, h3 {
  color: #CEB992;
  letter-spacing: 0.15px;
  margin-top: 50px;
}

p {
  margin-top: 50px;
  color: #CEB992;
}

p.biography {

  font-size: 20px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  
}


header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #CEB992;
  padding: 10px 20px;
  color: white;
}

.nav-buttons {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 20px; 
  margin: 0;
}

.button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.button:hover {
  border-bottom: 2px solid white; 
  color: white;

}


.social-links {
  display: flex;
  align-items: center;
  gap: 35px; 
}

.github-logo {
  width: 45px;
  height: 45px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.github-logo:hover {
  opacity: 0.5;
}

.linkedin-logo {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.linkedin-logo:hover {
  opacity: 0.5;
}

.portfolio {
  background-color: #CEB992;

}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item:hover .mask {
  opacity: 1;
}

.project-info {
  color: #fff;
  text-align: center;
}

.portfolio.button {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.portfolio.button:hover {
  background-color: #555;
}


.typewriter h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation: 
    typing 4.5s steps(40, end),
    blink-caret 0.75s step-end 5; /* Only blink 5 times */
  margin-top: 100px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}


.fade-in-image.frontend {
  margin-top: 100px;
  height: auto;
  width: 750px;
  gap: 25px;
}

.fade-in-image.bioimage {
  margin-top: 100px; 
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 550px;
  gap: 25px;
}

.biography-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
}



.fade-in-image {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
